# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl
setup.cfg
MANIFEST
pip-wheel-metadata/

# Virtualenv environment variables
.env/
.venv/
.python-version

# Pytest
.cache/
.coverage
htmlcov/
.tox/
.pytest_cache/

# VS Code / JetBrains IDE
.vscode/
.idea/

# Custom to your repo
3proxy.conf
test/bin/
test/util.py
test/test_pysocks.py.disabled

# Logs & other runtime artifacts
*.log
*.sqlite3
*.pid
*.db

# Jupyter notebooks (if you ever add docs/examples)
.ipynb_checkpoints/

# MacOS & system
.DS_Store
Thumbs.db
